* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
/* banner */
.banner {
  /* border-radius: 15px; */
  /* background: orange; */
  /* top: 26; */
  width: 1220px;
  margin: 0 auto;
}
. .swiper-container {
  margin-top: 25px;
  width: 100%;
}
.swiper-slide {
  margin-top: 20px;
  border-radius: 15px;
}
.swiper-slide .banner-img {
  width: 100%;
  height: 499px;
  object-fit: cover;
  border-radius: 15px;
}
