body {
  color: #666;
  font-family: 华文黑体, "Microsoft YaHei", 微软雅黑, STHei, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.v2 .wrapper {
  background-image: url(../img/v2/bg_9b9dcb65ff.png);
  background-image: -webkit-image-set(
    url(../img/v2/bg_9b9dcb65ff.png) 1x,
    url(https://static.smartisanos.cn/account.common/img/v2/bg_9b9dcb65ff@2x.png) 2x
  );
  background-size: 100px;
  background-repeat: repeat;
  min-height: 800px;
  min-width: 630px;
}
