* {
  margin: 0;
  padding: 0;
}
body {
  background: #ededed;
}
ol,
ul {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
input {
  line-height: normal;
}
a,
a:hover {
  text-decoration: none;
}

a {
  color: #5079d9;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.app-wrap {
  min-width: 1220px;
}
.top-header {
  width: 100%;
  height: 45px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#222325),
    color-stop(#3b3c3f),
    to(#222325)
  );
  background-image: linear-gradient(90deg, #222325, #3b3c3f, #222325);
}
.topbar-logo {
  float: left;
  margin: 12px 0 0 20px;
  background: url(../img/logo.png) no-repeat 50%;
  background-size: contain;
  height: 18px;
  width: 18px;
}
.top-aside-right {
  float: right;
  margin-right: 18px;
  width: 72px;
  /* background: skyblue; */
}
.top-aside-right .aside-icon-user {
  float: left;
  /* background: orangered; */
  width: 36px;
  height: 45px;
  position: relative;
  display: block;
  /* background: red; */
}
.top-aside-right .aside-icon-shop {
  float: right;
  width: 36px;
  height: 45px;
  position: relative;
  /* background: orange; */
}
.position-header {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -12px;
  background: url(../img/avatar-and-cart.c2634628.png) 50% no-repeat;
  background-position: 1px 2px;
  background-size: 180%;
}
.top-aside-right .aside-icon-shop .position-header {
  background-position: 0px -17px;
}
.top-aside-right .aside-icon-shop .shop-list {
  z-index: 999;
  position: absolute;
  right: 4px;
  top: 45px;
  background: white;
  border-radius: 13px;
  opacity: 0;
  border: 1px solid #ddd;
  /* right: 100px; */
}
.top-aside-right .aside-icon-shop .shop-list .lists-container {
  width: 360px;
  height: 314px;
  padding-top: 180px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/shopcar.png);
  background-position: top 95px center;
  background-repeat: no-repeat;

  /* visibility: hidden; */
}
.top-aside-right .aside-icon-shop .show-list {
  opacity: 1;
  transition: all 0.2s;
}

.desc {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  text-align: center;
}
.desc-prompt {
  color: #bcbcbc;
  font-size: 12px;
  text-align: center;
}

/* 顶部nav导航 */
.tophead-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tophead-nav .tabs-item {
  float: right;
  line-height: 28px;
  font-size: 18px;
}
.tabs-item li {
  position: relative;
  float: left;
  cursor: pointer;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.7);
  padding: 0 20px;
}
/* 鼠标移入的active */
.tabs-item li .active {
  color: #e5e5e5;
  font-weight: 700;
}

/* title wrapper */
.title-wrapper {
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  height: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0.1s ease;
  transition: height 0.1s ease;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.container {
  background-color: #fff;
  position: relative;
}

.main-title {
  width: 1220px;
  height: 100%;
  margin: 0 auto;
  /* background: orange; */
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title-wrappercont {
  width: 789px;
  height: 100%;
  /* background: red; */
}
.title-wrappercont .title-content {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title-content li a {
  user-select: none;
  margin-right: 25px;
  font-size: 14px;
  line-height: 74px;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  color: rgba(0, 0, 0, 0.7);
}

.title-wrappercont .title-content .active {
  font-weight: 700;
  color: #333;
}

.search-wrapper {
  z-index: 10;
  /* background: orange; */
  width: 330px;
  height: 36px;
}
.form {
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}
.form .search-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}

.form .submit-btn {
  margin: auto 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
  border: none;
  background-image: -webkit-image-set(
    url(../img/serch.png) 1x,
    url(../img/serch.png) 2x
  );
}
